.gallery-container {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1rem;
}

.gallery-grid {
    grid-auto-columns: 250px; /* lebar tiap kolom */
    grid-auto-flow: column; /* isi grid berdasarkan kolom */
}

/* Scrollbar minimalis */
.gallery-container::-webkit-scrollbar {
    height: 8px;
}
.gallery-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

/* Responsive grid-template-rows with media queries */
@media (min-width: 1024px) {
    .gallery-grid {
        grid-template-rows: repeat(4, minmax(100px, max-content));
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .gallery-grid {
        grid-template-rows: repeat(3, minmax(100px, max-content));
    }
}

@media (max-width: 767px) {
    .gallery-grid {
        grid-template-rows: repeat(2, minmax(100px, max-content));
    }
}
