.group.active img {
    transform: scale(1.10);
    transition: transform 0.5s ease-in-out;
}

.group.active div.absolute {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.group.active h3, .group.active p {
    transform: translateY(0);
    transition: transform 0.5s ease;
}
/* initial state */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* saat terlihat */
.reveal.show {
    opacity: 1;
    transform: translateY(0);
}

.heartbeat {
    animation: heartbeat 2s infinite;
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    25% { transform: scale(1.03); }
    40% { transform: scale(1); }
    60% { transform: scale(1.03); }
    100% { transform: scale(1); }
}